<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#">
    <script src="{{ url_for('static', filename='util.js') }}"></script>
</head>
<body>
    Rotation
    <div id="rots_div"></div>
    <br>
    Radius
    <div id="radii_div"></div>
    <br>
    Fade
    <div id="fade_div"></div>
    <br>
    Hues
    <div id="hues_div"></div>
</body>
    <script src="{{ url_for('static', filename='control.js') }}"></script>
</html>